
.restaurantFilter{ width:250px; background-color:#007bff; padding:20px;} 
.restGrid{ padding:30px; background-color:rgba(0,0,0,0.03);}
.restGrid .restGridBox { margin-bottom:30px; background-color:#FFFFFF; }
.restGrid .restGridBox:hover{ box-shadow:0px 5px 10px rgba(0,0,0,0.2);}
.restGrid .restGridBox img {width:100%; height:auto; min-height:100px;}
.restGrid .restGridBox .rg-cont{ padding:10px 15px;}
.r-food-img{ height:180px; width:100%; overflow:hidden;}