.restDetails{
    .restheader{
        .featuredImg{
            width:200px;
            img{width:100%;}
        }
        background-color:rgba(0,0,0,0.02);
        padding:30px;
        .location{ font-size:20px;}
        h5{ font-size:14px;}
    }
}