

.findRestContainer{ width:960px; max-width:100%; margin:0px auto;}
.findRestContainer h1{ text-align:center;}
.searchFoodForm { margin-top:20px;}
.searchFoodForm input{ width:100%; border:1px solid rgba(0,0,0,0.1); padding:10px 15px; }
.searchFoodForm .btn-custom{ padding:10px 25px; font-weight:600;}